body{
    background: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
img{
    position: relative;
    bottom: -115px;
}

.texts{
    position: relative;
    top: -1px;
    text-align: center;
}

.footer {
    color: #eeeeee;
    border-top: 1px solid gray;
    height: 10px;  /* footer height */
    padding-top: 20px;
    display: block;
    margin-top: 20px; /* space between content and footer */
    box-sizing: border-box;
    position: relative;
    width: 100%;
    bottom: -700px;
}
.footer img{
    width: 40px;
    position: relative;
    right: -48.7%;
    top: -10px;
}
.content{
    padding: 70px 90px 75px 100px;
    
}
.bgm{
  
}